@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: "Poppins", serif;

}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 10vh;
    font-size: 25px;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#logo-header {
    width: 25vh;
    height: 7.5vh;
    font-size: 2.5vh;

}

#text-header {
    color: aliceblue;
    font-size: 2.5vh;
}

#text-bold {
    color: aliceblue;
    font-weight: bold;
    font-size: 2.5vh;

}

#box-1 {
    width: 2.5%;
    margin: 10px;
    text-align: center;
    font-size: 5vh;

}

#box-3 {
    width: 50%;
    background-color: aliceblue;
    height: 50%;
    border-radius: 10px;
    display: flex;
}


#box-2 {
    border: 10px;
    text-align: left;
    width: 15%;
    padding: 15px;
}

#box-4 {
    width: 10%;
    padding: 10px;
    text-align: left;
}

#box-5 {
    width: 10%;
    padding: 10px;
    font-size: 5vh;
    text-align: left;
    display: flex;
}
h1{
    width: 100%;
    margin: 25px;
    text-align: center;
    background-color: rgb(59, 141, 218);
    height: 25vh;
    font-size: 8vh;
    align-content: center;
    color: rgb(19, 19, 205);
}
section{
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    unicode-bidi: isolate;

}
article{
    width: 23%;
    text-align: center;
    font-weight: bold;
    font-size: 2.5vh;
    color:rgb(59, 141, 218);
}
img{
    
    width: 100%;
    height: 75%;
}
footer{
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
h2{
    margin-top: 5vh;
    width: 100%;
    height: 10vh;
}
#card-circle{
    margin-top: 0;
    width: 50px;
    height: 50px;
    border-radius:360PX;
    background-color: yellowgreen;
    text-align: center;

}